
*.pem
*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
\#*\#
*~
pox/lib/pxpcap/pxpcap_c/build
pox/lib/pxpcap/pxpcap_c/WpdPack
pox/lib/pxpcap/pxpcap.so
pypy/
pox/doc/*
ext/skeleton.py
ext/doc/build/
ext/doc/Makefile