{
  "service": {},
  "orchestration": {
    "Sl-Or": {
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "LO-1",
      "LO-2"
    ],
    "LO-1": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "LO-1",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/escape",
          "url": "http://10.10.0.9:8888"
        }
      }
    },
    "LO-2": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "LO-2",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/escape",
          "url": "http://10.10.0.8:8888"
        }
      }
    }
  }
}
