*.pem
*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
*~
*.a
*.out
escape.config
Python-*
bin/
include/
lib/
share/
OpenYuma/libtoaster/bin/
OpenYuma/libtoaster/lib/
Unify_ncagent/vnf_starter/bin/
Unify_ncagent/vnf_starter/lib/
pip-selfcheck.json
escape/doc/build
