*.pem
*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
*~
*.a
*.out
*.log
Python-*
bin/
include/
lib/
share/
pip-selfcheck.json
escape/doc/build
click
log/*
/test/case*/out-*
/test/case*/gen-*
/test/results.xml
unify_virtualizer/yang
gui/