[submodule "unify_virtualizer"]
	path = unify_virtualizer
	url = git@gitlab.fp7-unify.eu:Robert.Szabo/virtualizer.git
[submodule "dummy-orchestrator"]
	path = dummy-orchestrator
	url = git@gitlab.fp7-unify.eu:wp2/dummy-orchestrator
	branch = MultiProvidersConsumers

