{
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "MANAGERS": [
      "DATAPLANE"
    ],
    "DATAPLANE": {
      "module": "escape.adapt.managers",
      "class": "DataplaneDomainManager",
      "poll": false,
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "DataplaneComputeCtrlAdapter"
        }
      }
    }
  }
}