{
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "MANAGERS": [
      "DATAPLANE"
    ],
    "DATAPLANE": {
      "module": "escape.adapt.dataplane",
      "class": "DataplaneDomainManager",
      "poll": false,
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "StaticFileTopoAdapter",
          "path": "examples/acer_simplified.nffg"
        },
        "REMOTE": {
          "module": "escape.adapt.dataplane",
          "class": "DataplaneRESTAdapter",
          "url": "http://localhost:5000",
          "prefix": ""
        }
      }
    }
  }
}