{
  "service": {
    "REST-API": {
      "port": 8009
    }
  },
  "orchestration": {
  },
  "adaptation": {
    "MANAGERS": [
    ],
    "INTERNAL": {
      "adapters": {
        "CONTROLLER": {
          "port": 6655
        }
      }
    }
  },
  "infrastructure": {
    "TOPO": "examples/escape-mn-ext-topo.nffg",
    "Controller": {
      "port": 6655
    }
  }
}