{
  "service": {},
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "MININET",
      "OPENSTACK",
      "DOCKER-1",
      "UN",
      "RYU"
    ],
    "MININET": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "MININET",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ro/mininet",
          "url": "http://127.0.0.1:8899"
        }
      }
    },
    "OPENSTACK": {
      "poll": false,
      "diff": true,
      "adapters": {
        "REMOTE": {
          "timeout": 10,
          "prefix": "ro/os",
          "url": "http://127.0.0.1:8899"
        }
      }
    },
    "DOCKER-1": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "DOCKER-1",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ro/docker1",
          "url": "http://127.0.0.1:8899"
        }
      }
    },
    "UN": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "UN",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ro/un",
          "url": "http://127.0.0.1:8899"
        }
      }
    },
    "RYU": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "RYU",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ro/ryu",
          "url": "http://127.0.0.1:8899"
        }
      }
    }
  },
  "infrastructure": {},
  "visualization": {
    "url": "http://192.168.1.206:2222",
    "rpc": "/notification"
  }
}
