{
    "service": {
        "MAPPER": {
            "mapping-enabled": false
        },
        "PROCESSOR": {
            "enabled": true
        }
    },
    "orchestration": {
        "MAPPER": {
            "mapping-enabled": true
        },
        "PROCESSOR": {
            "enabled": true
        }
    },
    "adaptation": {
        "DEFAULTS": [
            "REMOTE-ESCAPE",
            "SDN",
            "OPENSTACK",
            "UN"
        ],
        "SDN-POX": {
            "address": "192.168.1.101",
            "port": 6633
        },
        "ESCAPE-REST": {
            "url": "http://192.168.1.102:8888/escape/"
        },
        "OpenStack-REST": {
            "url": "http://192.168.1.103:8888/virtualizer/"
        },
        "UN-REST": {
            "url": "http://192.168.1.104:8080"
        }
    },
    "infrastructure": {
        "TOPO": "pox/escape-mn-topo.nffg"
    }
}