{
  "service": {
    "MAPPER": {
      "module": "escape.service.sas_mapping",
      "class": "ServiceGraphMapper",
      "mapping-enabled": false,
      "mapping-config": {
      }
    },
    "STRATEGY": {
      "module": "escape.service.sas_mapping",
      "class": "DefaultServiceMappingStrategy",
      "THREADED": false
    },
    "PROCESSOR": {
      "module": "escape.util.mapping",
      "class": "ProcessorSkipper",
      "enabled": false
    },
    "REST-API": {
      "module": "escape.service.sas_API",
      "class": "ServiceRequestHandler",
      "address": "0.0.0.0",
      "prefix": "escape",
      "port": 8008,
      "unify_interface": false
    },
    "SERVICE-LAYER-ID": "ESCAPE-SERVICE"
  },
  "orchestration": {
    "MAPPER": {
      "module": "escape.orchest.ros_mapping",
      "class": "ResourceOrchestrationMapper",
      "mapping-enabled": true,
      "mapping-config": {
      }
    },
    "STRATEGY": {
      "module": "escape.orchest.ros_mapping",
      "class": "ESCAPEMappingStrategy",
      "THREADED": false
    },
    "PROCESSOR": {
      "module": "escape.util.mapping",
      "class": "ProcessorSkipper",
      "enabled": true
    },
    "ESCAPE-SERVICE": {
      "virtualizer_type": "SINGLE"
    },
    "Cf-Or": {
      "module": "escape.orchest.ros_API",
      "class": "CfOrRequestHandler",
      "virtualizer_type": "GLOBAL",
      "diff": false,
      "address": "0.0.0.0",
      "port": 8889,
      "prefix": "cfor",
      "unify_interface": true
    },
    "Sl-Or": {
      "module": "escape.orchest.ros_API",
      "class": "BasicUnifyRequestHandler",
      "virtualizer_type": "SINGLE",
      "diff": true,
      "address": "0.0.0.0",
      "port": 8888,
      "prefix": "escape",
      "unify_interface": true
    },
    "manage-neo4j-service": false
  },
  "adaptation": {
    "MANAGERS": [],
    "RESET-DOMAINS-BEFORE-INSTALL": false,
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": false,
    "USE-REMERGE-UPDATE-STRATEGY": true,
    "USE-STATUS-BASED-UPDATE": true,
    "ENSURE-UNIQUE-ID": true,
    "INTERNAL": {
      "module": "escape.adapt.managers",
      "class": "InternalDomainManager",
      "domain_name": null,
      "poll": false,
      "adapters": {
        "CONTROLLER": {
          "module": "escape.adapt.adapters",
          "class": "InternalPOXAdapter",
          "name": null,
          "address": "127.0.0.1",
          "port": 6653,
          "keepalive": false,
          "sap_if_prefix": "eth"
        },
        "MANAGEMENT": {
          "module": "escape.adapt.adapters",
          "class": "VNFStarterAdapter",
          "server": "127.0.0.1",
          "port": 830,
          "username": "mininet",
          "password": "mininet",
          "timeout": 5
        },
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "InternalMininetAdapter",
          "net": null
        }
      }
    },
    "SDN": {
      "module": "escape.adapt.managers",
      "class": "SDNDomainManager",
      "domain_name": "SDN-MICROTIK",
      "poll": false,
      "adapters": {
        "CONTROLLER": {
          "module": "escape.adapt.adapters",
          "class": "SDNDomainPOXAdapter",
          "name": null,
          "address": "0.0.0.0",
          "port": 6633,
          "keepalive": false,
          "binding": {
            "MT2": 365441792307142,
            "MT1": 365441792306724
          }
        },
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "SDNDomainTopoAdapter",
          "path": "examples/sdn-topo.nffg"
        }
      }
    },
    "REMOTE-ESCAPE": {
      "module": "escape.adapt.managers",
      "class": "RemoteESCAPEDomainManager",
      "domain_name": null,
      "poll": false,
      "diff": true,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "RemoteESCAPEv2RESTAdapter",
          "url": "http://192.168.50.128:8888",
          "prefix": "escape",
          "unify_interface": true,
          "timeout": 5
        }
      }
    },
    "BGP-LS-SPEAKER": {
      "module": "escape.adapt.managers",
      "class": "BGPLSBasedExternalDomainManager",
      "domain_name": "BGP-LS",
      "poll": false,
      "diff": null,
      "bgp_domain_id": "0.0.0.2",
      "prototype": "EXTERNAL",
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "BGPLSRESTAdapter",
          "url": "http://localhost:8088",
          "prefix": "restconf/data",
          "timeout": 5
        }
      }
    },
    "EXTERNAL": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": null,
      "poll": true,
      "diff": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "url": null,
          "prefix": null,
          "timeout": 5
        }
      }
    }
  },
  "infrastructure": {
    "TOPO": "examples/escape-mn-topo.nffg",
    "SHUTDOWN-CLEAN": true,
    "SAP-xterms": true,
    "Controller": {
      "ip": "127.0.0.1",
      "port": 6653
    },
    "NETWORK-OPTS": {},
    "EE": null,
    "Link": null,
    "SAP": null,
    "Switch": null,
    "FALLBACK-TOPO": {
      "module": "escape.infr.topology",
      "class": "FallbackDynamicTopology"
    }
  },
  "visualization": {
    "url": "http://localhost:8081",
    "rpc": "edit-config",
    "instance_id": null
  }
}