{
  "service": {},
  "orchestration": {
    "Sl-Or": {
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "MININET",
      "OPENSTACK",
      "SDN",
      "DOCKER-1",
      "DOCKER-2",
      "RYU"
    ],
    "MININET": {
      "module": "escape.adapt.managers",
      "class": "RemoteESCAPEDomainManager",
      "poll": false,
      "diff": true,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "RemoteESCAPEv2RESTAdapter",
          "url": "http://192.168.0.111:8888",
          "prefix": "escape",
          "unify_interface": true
        }
      }
    },
    "OPENSTACK": {
      "poll": false,
      "diff": true,
      "adapters": {
        "REMOTE": {
          "timeout": 10,
          "prefix": "virtualizer",
          "url": "http://192.168.0.106:8888"
        }
      }
    },
    "DOCKER-1": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "DOCKER-1",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/",
          "url": "http://192.168.0.123:8888"
        }
      }
    },
    "DOCKER-2": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "DOCKER-2",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/",
          "url": "http://192.168.0.122:8888"
        }
      }
    },
    "RYU": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "RYU",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ro/ryu",
          "url": "http://192.168.0.111:2222"
        }
      }
    },
    "SDN": {
      "adapters": {
        "CONTROLLER": {
          "address": "192.168.0.100",
          "port": 6633,
          "keepalive": false,
          "binding": {
            "MT1": "0x1e48d8c346a83",
            "MT2": "0x14c5e0c376fc6"
          }
        },
        "TOPOLOGY": {
          "path": "examples/etsi-sdn-topo.nffg"
        }
      }
    }
  },
  "infrastructure": {},
  "visualization": {
    "url": "http://192.168.1.206:2222",
    "rpc": "/notification"
  }
}
