# Force cryptography package installation prior to avoid issues in 1.3.2
cryptography==1.3.1
Jinja2
ncclient
networkx
numpy
pip
py2neo
PyYAML
requests
# Update setuptools explicitly to workaround a bug related to 3.x.x version
setuptools
wrapt
