{
  "service": {
    "MAPPER": {
      "mapping-enabled": false
    },
    "orchestration": {
      "MAPPER": {
        "mapping-enabled": true
      },
      "Sl-Or": {
        "virtualizer_type": "GLOBAL"
      }
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "RHEA"
    ],
    "RHEA": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "RHEA",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "NFFGBasedStaticFileAdapter",
          "path": "test/case03/hwloc2nffg_IntelXeonE5-2620-rhea.nffg",
          "log_dir": "test/case03",
          "backward_links": false
        }
      }
    }
  }
}
