{
  "service": {
    "MAPPER": {
      "mapping-enabled": false
    }
  },
  "orchestration": {
    "MAPPER": {
      "mapping-enabled": true
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "DO-1",
      "DO-2"
    ],
    "DO-1": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "DO-1",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "NFFGBasedStaticFileAdapter",
          "path": "test/case05/escape-do1.nffg",
          "log_dir": "test/case05",
          "check_backward_links": false
        }
      }
    },
    "DO-2": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "DO-2",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "NFFGBasedStaticFileAdapter",
          "path": "test/case05/escape-do2.nffg",
          "log_dir": "test/case05",
          "check_backward_links": false
        }
      }
    }
  }
}
