{
  "service": {
    "MAPPER": {
      "mapping-config": {},
      "mapping-enabled": false
    }
  },
  "orchestration": {
    "MAPPER": {
      "mapping-config": {},
      "mapping-enabled": true
    },
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "ESC2"
    ],
    "ESC1": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "ESC1",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/escape",
          "url": "http://172.16.178.128:8888"
        }
      }
    },
    "ESC2": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "ESC2",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/escape",
          "url": "http://172.16.178.132:8888"
        }
      }
    }
  }
}
