{
  "service": {},
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "BGP-LS-SPEAKER"
    ],
    "BGP-LS-SPEAKER": {
      "module": "escape.adapt.managers",
      "class": "BGPLSBasedExternalDomainManager",
      "poll": false,
      "diff": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "BGPLSRESTAdapter",
          "url": "http://localhost:8088",
          "prefix": "restconf/data"
        }
      }
    }
  }
}
