service:
    MAPPER:
        mapping-enabled: false
orchestration:
    Sl-Or:
        virtualizer_type: SINGLE
    ESCAPE-SERVICE:
        virtualizer_type: SINGLE
adaptation:
    CLEAR-DOMAINS-AFTER-SHUTDOWN: true
    MANAGERS:
    - UN1
    - UN2
    - UN3
    UN1:
        module: escape.adapt.managers
        class: UnifyDomainManager
        domain_name: UN1
        diff: true
        poll: false
        adapters:
            REMOTE:
                module: escape.adapt.adapters
                class: UnifyRESTAdapter
                prefix: ro/un1
                url: http://127.0.0.1:8899
    UN2:
        module: escape.adapt.managers
        class: UnifyDomainManager
        domain_name: UN2
        diff: true
        poll: false
        adapters:
            REMOTE:
                module: escape.adapt.adapters
                class: UnifyRESTAdapter
                prefix: ro/un2
                url: http://127.0.0.1:8899
    UN3:
        module: escape.adapt.managers
        class: UnifyDomainManager
        domain_name: UN3
        diff: true
        poll: false
        adapters:
            REMOTE:
                module: escape.adapt.adapters
                class: UnifyRESTAdapter
                prefix: ro/un3
                url: http://127.0.0.1:8899
