{
  "service": {},
  "orchestration": {
    "Sl-Or": {
      "virtualizer_type": "GLOBAL"
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "UN1_Nfpa",
      "UN2_L2fwd"
    ],
    "UN1_Nfpa": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "UN1_Nfpa",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/2",
          "url": "http://192.168.0.141:1002"
        }
      }
    },
    "UN2_L2fwd": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "UN2_L2fwd",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "/2",
          "url": "http://192.168.0.142:1002"
        }
      }
    }
  },
  "infrastructure": {},
  "visualization": {
    "url": "http://192.168.1.206:2222",
    "rpc": "/notification"
  }
}
