{
  "service": {
    "MAPPER": {
      "mapping-enabled": false
    }
  },
  "orchestration": {
    "MAPPER": {
      "mapping-enabled": true
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": []
  },
  "infrastructure": {
    "TOPO": "test/case01/mn-topology.nffg",
    "SAP-xterms": true
  }
}
