{
  "service": {
    "MAPPER": {
      "mapping-enabled": false
    },
    "SCHEDULED_SERVICE_REQUEST_DELAY": 0
  },
  "orchestration": {
    "MAPPER": {
      "mapping-enabled": true
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "DO-1",
      "DO-2"
    ],
    "DO-1": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "DO-1",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "VirtualizerBasedStaticFileAdapter",
          "path": "test/case07/escape-do1.xml",
          "log_dir": "test/case07",
          "diff": true
        }
      }
    },
    "DO-2": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "DO-2",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "VirtualizerBasedStaticFileAdapter",
          "path": "test/case07/escape-do2.xml",
          "log_dir": "test/case07",
          "diff": true
        }
      }
    }
  }
}
