{
  "service": {
    "MAPPER": {
      "mapping-enabled": true,
      "mapping-config": {
        "bt_limit": 6,
        "bt_branching_factor": 4
      }
    },
    "SERVICE-LAYER-ID": "ESCAPE-SERVICE",
    "SCHEDULED_SERVICE_REQUEST_DELAY": 0
  },
  "orchestration": {
    "MAPPER": {
      "mapping-enabled": true,
      "mapping-config": {
        "bt_limit": 6,
        "bt_branching_factor": 4
      }
    },
    "ESCAPE-SERVICE": {
      "virtualizer_type": "SINGLE"
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "TOPO"
    ],
    "TOPO": {
      "module": "escape.adapt.managers",
      "class": "BasicDomainManager",
      "domain_name": "TOPO",
      "adapters": {
        "TOPOLOGY": {
          "module": "escape.adapt.adapters",
          "class": "NFFGBasedStaticFileAdapter",
          "path": "test/case19/gen-topology.nffg",
          "log_dir": "test/case19",
          "check_backward_links": true
        }
      }
    }
  },
  "test": {
    "module": "testframework.testcases.dynamic",
    "class": "DynamicTestGenerator",
    "full_combination": true,
    "num_of_requests": 3,
    "num_of_topos": 5,
    "testcase_cfg": {
      "module": "testframework.testcases.dynamic",
      "class": "DynamicallyGeneratedTestCase",
      "request_cfg": {
        "generator": "balanced_tree_request",
        "seed": 2,
        "h": 4,
        "r": 2,
        "min_link_delay": 3.5,
        "max_link_delay": 6
      },
      "topology_cfg": {
        "generator": "networkx_resource_generator",
        "seed": 2,
        "func_name": "erdos_renyi_graph",
        "n": 35,
        "p": 0.45,
        "sap_cnt": 33,
        "max_link_delay": 2
      }
    }
  }
}
