{
  "service": {
    "MAPPER": {
      "mapping-enabled": false
    },
    "SCHEDULED_SERVICE_REQUEST_DELAY": 0
  },
  "orchestration": {
    "MAPPER": {
      "mapping-enabled": true
    }
  },
  "adaptation": {
    "CLEAR-DOMAINS-AFTER-SHUTDOWN": true,
    "MANAGERS": [
      "MININET",
      "OPENSTACK",
      "DOCKER-1",
      "DOCKER-2",
      "RYU"
    ],
    "MININET": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "MININET",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "mininet",
          "url": "http://localhost:7000",
          "timeout": 2
        }
      }
    },
    "OPENSTACK": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "OPENSTACK",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "openstack",
          "url": "http://localhost:7000",
          "timeout": 2
        }
      }
    },
    "DOCKER-1": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "DOCKER-1",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "docker1",
          "url": "http://localhost:7000",
          "timeout": 2
        }
      }
    },
    "DOCKER-2": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "DOCKER-2",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "docker2",
          "url": "http://localhost:7000",
          "timeout": 2
        }
      }
    },
    "RYU": {
      "module": "escape.adapt.managers",
      "class": "UnifyDomainManager",
      "domain_name": "RYU",
      "diff": true,
      "poll": false,
      "adapters": {
        "REMOTE": {
          "module": "escape.adapt.adapters",
          "class": "UnifyRESTAdapter",
          "prefix": "ryu",
          "url": "http://localhost:7000",
          "timeout": 2
        }
      }
    }
  },
  "test": {
    "module": "testframework.testcases.domain_mock",
    "class": "DomainMockingSuccessfulTestCase",
    "address": "localhost",
    "port": 7000,
    "responses": [
      {
        "domain": "docker1",
        "rpc": "get-config",
        "return": "00-docker1.xml"
      },
      {
        "domain": "docker2",
        "rpc": "get-config",
        "return": "00-docker2.xml"
      },
      {
        "domain": "mininet",
        "rpc": "get-config",
        "return": "00-mininet.xml"
      },
      {
        "domain": "openstack",
        "rpc": "get-config",
        "return": "00-openstack.xml"
      },
      {
        "domain": "ryu",
        "rpc": "get-config",
        "return": "00-ryu-sdn.xml"
      }
    ]
  }
}
